.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scores {
  font-size: 16px;
}

.album_display {
  padding: 3% 0% 7% 0%;
}

.notes {
  padding-top: 8%;
}

.change_details_items {
  padding: 5% 0% 5% 0%;
  color: white;
}


.changeDetails {
  padding: 5% 0% 5% 0%;
}

.albumInfo {
  padding: 5% 0% 5% 0%;
}

.albumInfo {
  font-size: large;
}

.albumInfo p {
  padding: 2% 0% 0% 0%;
}

.boxTitle {
  font-size: small;
  color: rgba(25,118,210,255);
}

input[type="text" i] {
  color: white
}
