.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
    padding: 5% 5% 5% 5%;
    width: 30vw;
    height: auto;
  }
}

.App-header {
  padding: 5% 0% 10% 0%;
  background-color: #181818;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sort_by {
  background-color: #ffffff;
  opacity: 40%;
  padding: 5px;
  border-radius: 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scores {
  font-size: 16px;
}

.scores  h1{
  padding-right: 25%;
}

.album_display {
  padding: 2% 0% 3% 0%;
}

.notes {
  padding-top: 8%;
}

.change_details_items {
  padding: 5% 0% 5% 0%;
  color: white;
}


.changeDetails {
  padding: 5% 0% 5% 0%;
}

.albumInfo {
  padding: 5% 0% 5% 0%;
}

.albumInfo {
  font-size: large;
}

.albumInfo p {
  padding: 2% 0% 0% 0%;
}

.songInfo p1 {
  font-size: 25px;
}

.songInfo {
  padding-bottom: 10%;
}

.boxTitle {
  font-size: small;
  color: rgba(25,118,210,255);
}

input[type="text" i] {
  color: white
}

a:link { 
  text-decoration: none; 
  color: inherit; 
 }

a:visited { 
  text-decoration: none; 
  color: inherit; 
 }

 .album-stats-entire {
   padding: 0 0 5% 0;
 }

 /*homepage                                                              */

 .stats-buttonless {
   height: 520px;
   width: 800px;
   font-size: 20px;
 }


 /* statsss   */
 .data_title{
  padding: 15% 15% 5% 15%;
  font-size: 23px;
 }



 .top_Albums img {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  width: 300px;
  height: 290px;
}


.albums-songs-toggle-box {
  width: 900;
}

.toggle_box {
  padding-top: 3%;
  width: 70%;
  margin: auto;
}

.album-display-box {
  width: 900;
}


 .trending{
  padding-top: 5%;
  font-size: 20px;
 }

 .trending img{
  max-width: 80%;
 }

 .top-artist img{
   max-width: 50%;
 }

 .top-genre{
  padding-top: 15%;
  font-size: 25px;
 }

 .legend {
   top: 80px;
 }

 .top-songs{
  padding-top: 5%;
  font-size: 20px;
 }

 .top-songs p{
  padding-bottom: 2%;
 }


 .average-difference img{
  max-width: 30%;
 }

 /* Navbar          */

 
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000000;
}
.nav-logo-2{
  max-width: 70px;
  padding-top: 20%;
}
.nav-links{
  padding: 15px 18px 0px 0;
}
.nav-links li{
  display: inline-block;
  margin: 0 15px;
}
.nav-links li a{
  text-decoration: none;
  color: #F0F8FF;
  padding: 5px 0;
}

.top_Albums {
  position:relative;
  padding: 10px 10px 10px 10px;
  width: 80%;
  display: flex;
  /*flex-wrap: nowrap;*/
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
}

.top_Albums::-webkit-scrollbar {
  width: 5px;
}


.top_Albums::-webkit-scrollbar-track:hover {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.575); 
  border-radius: 10px;
}


.top_Albums::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(2, 149, 247);
}


.top_Album_Individual {
  text-align: left;
  position: relative;
  max-block-size: 290px;
  width: 300px;
  height: 290px;
  font-size: calc(15px + 1vmin);
  color: white;
  text-decoration: none;
}

.top_Album_Individual p {
  visibility: hidden;
  padding: 14px;
  max-height: 100px;
  color: white;
}

.top_Album_Individual p1 {
  visibility: visible;
  position: relative;
  top: -275px;
  display: inline-flex;
  padding: 0px;
  font-size: calc(20px + 2vmin);
  margin-left: 25px;
  font-weight: bold;
}

.top_Album_Individual:hover p1 {
  visibility: hidden;
}


/*.TA_rank {
  visibility: visible
}*/

.top_Album_Individual:hover {
  visibility: visible;
  text-align: center;
  position: relative;

}


.top_Album_Individual:hover img {
  display: inline-block;
  opacity: 30%;
}
.top_Album_Individual:hover p {
  visibility: visible;
  position: relative;
  top: -275px;
  display: inline-flex;
  padding: 14px;
}

.top_Albums_border {
  padding-top: 200px;
}

.topRated{
  padding-bottom: 5%;
}
.homepage_list{
  padding-top: 5%;
}

.album_display_image img{
  height: auto;
  object-fit: contain;
  max-width: 250px;
}


.graphText {
  font-size: 15px;
  color: white;
}

.login_text {
  font-size: 20px;

}

.userLogin{
  padding: 1vh 0 1vh 0;
}

.alterDetails {
  font-size: 20px;
}


/*footer                                                  */

.padding_foot {
  padding-top: 10%;
}


.footer {
  background-color: black;

}

.footer p {
  color: white;
  font-size: calc(8px + 1vmin);
}

.footer_logo {
  max-width: 60px;
}

.footer_title {
  text-align: right;
}

.footer_name {
  text-align: left;
}

.foot_box {
  width: 68%;
  margin: auto;
  
}










/* mobile */
@media (max-width: 400px){
  .trending{
    width: 300px;
   }
  .trending img{
    width: 100%;
   }

   .top-songs{
    width: 300px;
   }
   .top-songs p{
    font-size: 15px;
   }

   .album-list-entire {
    width: 390px;
    padding: 7% 4% 0 4%;
   }

   .album_display_image img {
    width: 100%;
   }
   .album_display {
    width: 350px;
    padding-left: 4%;
   }
   .album-display-box {
    width: 350px;
   }
   .album_display p{
    font-size: 15px;
   }

   .album_display p1{
    font-size: 12px;
   }

   .scores p {
    font-size: 10px;
   }


   .albums-songs-toggle-box {
    width: 390;
  }

  .data_title{
    max-width: 390px;
  }

  .stats-buttonless{
    max-width: 390px;
    max-height: 425px;
  }

  .album_deets_image{
    max-width: 60%;
  }

  .top-genre{
    padding-top: 25%;
   }

  .top_Albums img {
    width: 200px;
    height: auto;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  .top_Album_Individual {
    position: relative;
    visibility: visible;
    text-align: center;
    max-block-size: 290px;
    width: 200px;
    height: 200px;
    text-align: left;
    position: relative;
    font-size: calc(9px + 1vmin);
    color: white;
    text-decoration: none;
  }

  .top_Album_Individual:hover p {
    visibility: visible;
    position: relative;
    top: -190px;
    display: inline-flex;
    padding: 14px;
  }

  .top_Album_Individual p1 {
    visibility: visible;
    position: relative;
    top: -190px;
    display: inline-flex;
    font-size: calc(15px + 2vmin);
    margin-left: 20px;
    font-weight: bold;
  }


  .data_title img {
    padding-top: 10%;
  }

  .nav-links{
    padding: 15px 0px 0px 0;
  }

  .top_Albums::-webkit-scrollbar {
    display: none;
  }

}