.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scores {
  font-size: 16px;
}

.album_display {
  padding: 2% 0% 3% 0%;
}

.notes {
  padding-top: 8%;
}

.change_details_items {
  padding: 5% 0% 5% 0%;
  color: white;
}


.changeDetails {
  padding: 5% 0% 5% 0%;
}

.albumInfo {
  padding: 5% 0% 5% 0%;
}

.albumInfo {
  font-size: large;
}

.albumInfo p {
  padding: 2% 0% 0% 0%;
}

.songInfo p1 {
  font-size: 25px;
}

.boxTitle {
  font-size: small;
  color: rgba(25,118,210,255);
}

input[type="text" i] {
  color: white
}

a:link { 
  text-decoration: none; 
  color: inherit; 
 }

a:visited { 
  text-decoration: none; 
  color: inherit; 
 }

 .album-stats-entire {
   padding: 0 0 50px 0;
 }

 /*homepage                                                              */

 .stats-buttonless {
   height: 520px;
   width: 630px;
   padding: 0 100px
 }


 /* statsss   */

 .top-artist img{
   max-width: 50%;
 }

 .legend {
   top: 80px;
 }

 /* Navbar          */

 
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000000;
}
.nav-logo-2{
  max-width: 100px;
}
.nav-links{
  padding: 28px 20px;
}
.nav-links li{
  display: inline-block;
  margin: 0 15px;
}
.nav-links li a{
  text-decoration: none;
  color: #F0F8FF;
  padding: 5px 0;
}

.top_Albums {
  position:relative;
  padding: 10px 10px 70px 10px;
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
}

.top_Albums::-webkit-scrollbar {
  display: none;
}


.top_Album_Individual {
  position: relative;
  height:0%;
  max-block-size: 290px;
}

.top_Album_Individual p {
  position: relative;
  top: -275px;
  display: none;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  max-height: 290px;
}
.top_Albums img {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  min-width: 300px;
  max-height: 290px;
}


.top_Album_Individual:hover img {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  min-width: 300px;
  opacity: 50%;
}
.top_Album_Individual:hover p {
  position: relative;
  top: -275px;
  font-size: calc(15px + 1vmin);
  display: inline-flex;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  opacity: 100%;
}

.top_Albums_border {
  padding-top: 200px;
}

.topRated{
  padding-bottom: 5%;
}
.homepage_list{
  padding-top: 5%;
}

.album_display_image img{
  height: auto;
  object-fit: contain;
  max-width: 250px;
}







